# Dependencies
node_modules/

# Build
dist/

# Coverage
coverage/

# Environment
.env
.env.*

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

/generated/prisma

# Baileys auth state
.waas-auth/
!.env.example
